body {
    margin: 0px;
}

.container {
    background-color: black;
    display: flex;
    flex: 1;
    margin: 0;
    flex-wrap: wrap;
    height: 100vh;
}

.square {
}

.pixelate {
    filter: brightness(1.5);
}

button {
    position: absolute;
    z-index: 10;
}